.container {
  margin: 0 auto;
  width: 640px;
}

.main-header {
  display: flex;
  background-color: #324157;
  margin-bottom: 5px;
}
.main-header .app-name {
  color: white;
  margin: 0 2em 0 1em;
  font: 20px sans-serif;
  line-height: 40px;
  width: 100%;
}

.controls {
  margin-top: 5px;
  flex: 1;
  display: flex;
  flex-direction: row;
}

.control-list {
  display: flex;
  flex: 1;
  flex-direction: column;
}

button {
  background-color: #eee;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 10px;
  outline: 0;
  padding: 6px 12px;
}

label {
  cursor: pointer;
}
